.checkbox-custom{
    float: left !important;
    margin-right: 10px;
}

.title-label{
    font-weight: 600 !important;
    color: #333 !important;
    font-size: 20px !important;
}

.button-upload{
    width: 40%;
    color: #aeb7c2 !important;
    font-size: x-large;
    background-color: #34495e !important;
    border-radius: 5px !important;
    padding: 10px !important;
}

.divContentImg{
    width: 23%;
    margin-left: 1%;
    margin-right: 1%;
    float: left;
}

.contnImg{
    width: 100%;
}

.img-carrousel{
    width: 100%;
}
.content-btn{
    text-align: center;
    font-size: xx-large;
    border: 1px solid gray;
}

.index-text{
    width: 100%;
    font-weight: 400;
}